@font-face {
  font-family: 'SFProDisplay-Light', sans-serif;
  src: url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #FFF5EC;
}

.container {
  max-width: 1660px;
  height: inherit;
  padding: 0 15px;
  margin: 0 auto;
}

.fullscreen {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  padding-top: 25px;
}

.header__wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  margin-left: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  margin: 0 40px;
}

.menu__link {
  font-size: 16px;
  font-weight: 500;
  color: #2E266F;
}

.menu__link:hover {
  text-decoration: underline;
  color: #392f8a;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.user::after {
  content: '';
  border: 4px solid transparent;
  border-top: 4px solid #fff;
}

.user__photo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  overflow: hidden;
}

.user__photo img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.user__status {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #3FA2F7;
  top: -1px;
  left: 33px;
}

.user__name {
  margin: 0 11px 0 18px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.main {
  height: 100%;
}

.main::after {
  content: '';
  display: block;
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #FE043C;
  top: 0;
  right: 0;
  z-index: -1;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.main__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50.00%;
          flex: 1 1 50.00%;
}

.main__title {
  color: #2E266F;
  font-weight: 700;
  font-size: 72px;
  line-height: 78px;
  padding-top: 9.7%;
}

.main__title::before {
  content: "Food";
  font-size: 200px;
  line-height: 162px;
  color: #2E266F;
  opacity: 0.04;
  display: block;
}

.main__search {
  margin-top: 40px;
}

.main__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50.00%;
          flex: 0 1 50.00%;
}

.main__food {
  position: relative;
  height: 100%;
}

.main__food::before {
  content: '';
  display: block;
  width: 50%;
  height: 88%;
  margin-top: 10%;
  margin-left: 8%;
  background-image: url("/img/ellipse-bg.png");
  background-repeat: space;
  opacity: 0.18;
  position: absolute;
  z-index: -1;
}

.main__food img {
  max-width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  right: 0;
  margin-right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.search {
  position: relative;
  display: inline-block;
  width: 84%;
}

.search__input {
  height: 99px;
  width: 100%;
  border: none;
  -webkit-box-shadow: 0px 3px 50px rgba(255, 112, 112, 0.16);
          box-shadow: 0px 3px 50px rgba(255, 112, 112, 0.16);
  padding: 0 219px 0 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search__input::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #2E266F;
  opacity: 0.6;
}

.search__input::-moz-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #2E266F;
  opacity: 0.6;
}

.search__input:-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #2E266F;
  opacity: 0.6;
}

.search__input::-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #2E266F;
  opacity: 0.6;
}

.search__input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #2E266F;
  opacity: 0.6;
}

.search__btn {
  width: 200px;
  height: 80px;
  border: none;
  background-color: #FE043C;
  border-top-left-radius: 80px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 33px;
  text-transform: uppercase;
  font-weight: 600;
  right: 9.5px;
  top: 9.5px;
  position: absolute;
  cursor: pointer;
}

.place {
  position: absolute;
  left: 0;
  bottom: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 316px;
  height: 88px;
  border-top-right-radius: 44px;
  border-bottom-right-radius: 44px;
  background-color: #FE043C;
  padding-left: 58px;
}

.place__location {
  font-weight: 500;
  color: #fff;
  font-size: 32px;
  margin-left: 38px;
}

@media (max-width: 1366px) {
  .menu__list {
    margin-left: 50px;
  }

  .menu__list li {
    margin: 0 30px;
  }

  .main__title {
    font-size: 48px;
    line-height: 52px;
  }

  .main__title::before {
    font-size: 150px;
    line-height: 108px;
  }

  .search__input {
    height: 75px;
    width: 100%;
    border: none;
    -webkit-box-shadow: 0px 3px 50px rgba(255, 112, 112, 0.16);
            box-shadow: 0px 3px 50px rgba(255, 112, 112, 0.16);
    padding: 0 219px 0 55px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .search__input::-webkit-input-placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #2E266F;
    opacity: 0.6;
  }

  .search__input::-moz-placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #2E266F;
    opacity: 0.6;
  }

  .search__input:-ms-input-placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #2E266F;
    opacity: 0.6;
  }

  .search__input::-ms-input-placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #2E266F;
    opacity: 0.6;
  }

  .search__input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #2E266F;
    opacity: 0.6;
  }

  .search__btn {
    width: 150px;
    height: 60px;
    border: none;
    background-color: #FE043C;
    border-top-left-radius: 60px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
    text-transform: uppercase;
    font-weight: 600;
    right: 7.5px;
    top: 7.5px;
  }

  .place {
    bottom: 86px;
    width: 210px;
    height: 66px;
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    padding-left: 58px;
  }

  .place img {
    -webkit-transform: scale(0.75);
        -ms-transform: scale(0.75);
            transform: scale(0.75);
  }

  .place__location {
    font-size: 21px;
    margin-left: 38px;
  }
}

@media (max-width: 1080px) {
  .menu__list li {
    margin: 0 20px;
  }
}

@media (max-width: 768px) {
  .header__wrapper {
    grid-template-columns: auto auto;
    grid-template-areas: "logo user" "menu menu";
  }

  .header__logo {
    grid-area: logo;
  }

  .header__menu {
    grid-area: menu;
  }

  .header__user {
    margin-left: auto;
    grid-area: user;
  }

  .menu__list {
    margin-left: 0;
  }

  .menu__link {
    font-size: 18px;
  }

  .main__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__food::before {
    margin-top: 0;
    margin-left: 25%;
    height: 100%;
  }

  .main__food img {
    margin: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .main__search {
    width: 75%;
  }

  .place {
    bottom: 43px;
  }
}

@media (max-width: 425px) {
  .main__search {
    width: 100%;
  }

  .main__title {
    font-size: 32px;
  }

  .main__title::before {
    font-size: 100px;
    line-height: 72px;
  }

  .menu__list {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .place {
    width: 155px;
    height: 34px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    padding-left: 20px;
  }

  .place img {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }

  .place__location {
    font-size: 16px;
    margin-left: 8px;
  }
}

@media (max-width: 320px) {
  .main__title {
    font-size: 24px;
    line-height: 36px;
  }

  .main__title::before {
    font-size: 85px;
  }

  .main__search {
    margin-top: 10px;
  }

  .search__input {
    height: 50px;
    padding: 0 110px 0 20px;
  }

  .search__input::-webkit-input-placeholder {
    font-size: 12px;
  }

  .search__input::-moz-placeholder {
    font-size: 12px;
  }

  .search__input:-ms-input-placeholder {
    font-size: 12px;
  }

  .search__input::-ms-input-placeholder {
    font-size: 12px;
  }

  .search__input::placeholder {
    font-size: 12px;
  }

  .search__btn {
    font-size: 24px;
    width: 100px;
    height: 40px;
    top: 5px;
    right: 5px;
    border-top-left-radius: 40px;
  }
}